
@{
    ViewBag.Title = "Exportacion";
}

<h1>Exportacion</h1>


<h2>@ViewBag.Mensaje</h2>


<h3>
    @Html.ActionLink("Exportar Preorder", "Export_Preorder")
</h3>
<h3>
    @Html.ActionLink("Exportar Inorder", "Export_Inorder")
</h3>
<h3>
    @Html.ActionLink("Exportar PostOrder", "Export_Postorder")
</h3>

@ViewBag.Infor